{% extends "base.html" %}




{% block mainrep %}


 
<br>
  <!-- Login -->

  <section id="login">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Login</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->




          <form  id="contactForm"  method="post">

             {% csrf_token %}




            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Username</label>
                {{form.username}}
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Password</label>
                {{form.password}}
                <p class="help-block text-danger"></p>
              </div>
            </div>


           
            <br>
            <div id="success"></div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-xl" value="Login">
             
            </div>





          </form>
        </div>
      </div>
    </div>
  </section>


<script type="text/javascript">

window.onload=function () {


    var a1=$("#id_username");
  a1.addClass('form-control');
  a1.attr('placeholder','Username');

var a2=$("#id_password");
  a2.addClass('form-control');
  a2.attr('placeholder','Password');
};







</script>



  {% endblock %}