{% extends "base.html" %}
{% load crispy_forms_tags %}

  {% block mainrep %}
    


 
<br>

  <!-- Game -->
<section id="signup">
 <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">{{qstn_no}}</h2>
      <hr class="star-dark mb-5">
     ,
      {% if msg != "bla" %}

   <p id="error" class="text-danger" style="font-size:1.5rem;">{{msg}}</p>
        
      {% endif %}
      
      <hr>
<img src="/assets/puzzle/{{qstn_no}}a.jpeg" class="img-fluid img-thumbnail">

<!--<a href="https://www.instagram.com/skillsmesoftskills/?hl=en">-->
<!--<img src="/images/image1.jpg" alt="an image" title="The title of this image"/>-->
<!--</a>-->
<br>
<div id="bottom-ele">
     <form method="POST" action="{% url 'auth' qstn_no %}">
      {% csrf_token %}

        <div class="form-group">
          <!--
          <label for="exampleInputPassword1">Answers</label>
         -->
          {{ form.ans}}
        </div>

        <input type="submit" value="Submit" class="btn btn-secondary btn-sm">

        </form> 

</div>



    </div>
  </section>
<script type="text/javascript">
  
  window.onload =function () {

var inp=$('#id_ans');
inp.addClass('form-control');
inp.attr("placeholder",'Answers');

$(error).fadeOut(8000);
// $(error).hide(10000);
 
  };



</script>






  {% endblock %}